<script>
  onLoad(() => {
    const dropArea = document.querySelector('#canvas')

    const preventAndStop = e => {
      e.preventDefault()
      e.stopPropagation()
    }

    const highlightDropArea = event => {
      if (['dragleave', 'drop'].includes(event)) {
        dropArea.style.opacity = 1
      } else if (['dragenter', 'dragover'].includes(event)) {
        dropArea.style.opacity = .5
      }
    }

    const handleDrop = (event, e) => {
      if (event === 'drop') {
        ;[...e.dataTransfer.files].forEach(file => {
          const body = new FormData()
          body.set('file', file)
          fetch('{{ request.path }}', {
            method: 'POST',
            body,
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
          }).then(res => res.json()).then(data => {
            if (data.status === 'OK' && data.src) {
              const name = data.src.split('/').slice(-1)[0]

              const list = [
                'IMG', name,
                [doc.page.width / 2, doc.page.height / 2],
                {src: name},
              ]

              drawDoc(doc.page, [list], doc)
            }
          })
        })
      }
    }

      ;['dragenter', 'dragleave', 'dragover', 'drop'].forEach(event => {
        dropArea.addEventListener(event, (e) => {
          preventAndStop(e)
          highlightDropArea(event)
          handleDrop(event, e)
        }, false)
      })
  })
</script>
