<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HEX</title>
  {% block css %}
    <style>
      .hex {
        width: 200px;
        aspect-ratio:1/1.1547;
        background-color: #cccccc;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      }
    </style>
  {% endblock css %}
</head>
<body>
  {% block content %}
  {% endblock content %}
  {% block js %}
  {% endblock js %}
</body>
</html>
