{% extends 'base.html' %}

{% load static mytags l10n %}

{% block title %}fZ - albums{% endblock title %}

{% block js_libs %}
  {{ block.super }}
  <script src="{% static 'js/clipboard.min.js' %}"></script>
  {% comment %} <script src="/static/upq.js"></script> {% endcomment %}
  <script src="{% static 'js/htmx203.min.js' %}"></script>
{% endblock js_libs %}


{% block content %}
  {% if edit %}
    <div class="position-sticky top-0 shadow bg-white p-2 z-1">
      <form id="upload_form" action="." method="post" enctype="multipart/form-data" class="d-flex flex-wrap align-items-center">
        {% csrf_token %}

        {% for f in form %}
          {% if f.name == 'files' %}
            <label>
              <span id="id_select_files_btn" class="btn btn-success">Выбрать файлы</span>
              {{f}}
              {% comment %} <div class="d-none"></div> {% endcomment %}
            </label>
          {% else %}
            {{f.label}}:{{f}}
          {% endif %}
        {% endfor %}

        <button type='submit' name='action' value='upload' class="btn btn-primary">upload</button>

        <span class="d-none spinner-border spinner-border-sm"></span>

        <span id="id_done" class="d-none"></span>
      </form>
    </div>
  {% endif %}

  <div class="container-fluid py-2">

    {% getlist request.GET 'ses' as ses_list %}
    {% for ses in ses_list %}
      {% if ses %}
        <a href="{{ request.get_full_path|rem_q_param:'ses'|rem_q_value:ses }}" class="btn btn-sm btn-outline-primary rounded-pill">
          <i class="bi bi-x-circle-fill"></i> Съемка: {{ses}}
        </a>
      {% endif %}
    {% endfor %}

    {% getlist request.GET 'sh' as sh_list %}
    {% for sh in sh_list %}
      {% if sh %}
        <a href="{{ request.get_full_path|rem_q_param:'sh'|rem_q_value:sh }}" class="btn btn-sm btn-outline-primary rounded-pill">
          <i class="bi bi-x-circle-fill"></i> Школа: {{sh}}
        </a>
      {% endif %}
    {% endfor %}
  </div>

  <table class="table table-sm bg-white">
    <thead>
      <th class="ps-2 ps-lg=4">съемка</th>
      <th class="text-center">альбом</th>
      <th class="text-center">заказы</th>
      <th class="text-center pe-2 pe-lg-4">дейст.</th>
    </thead>

    <tbody id="album_items">
      {% for album in albums %}
        {% include "part/album_tr.html" %}
      {% endfor %}
    </tbody>
  </table>

  {% comment %} TODO ajax upload bar {% endcomment %}
  <div id="upload_bar" class="position-fixed bottom-0 bg-white shadow shadow-lg w-100 p-2" style="transition:transform .5s;transform:translatey(100%);">
    <div class="progress rounded-pill">
      <div class="progress-bar" style="width: 0%;"></div>
    </div>
  </div>
{% endblock content %}


{% block js %}
  <script>
    ;document.addEventListener('DOMContentLoaded', () => {
      new ClipboardJS('.copylink')

      const form = document.querySelector('form#upload_form[method="POST"]')

      const que = []
      const que_todo = []
      const que_done = []

      form.addEventListener('submit', function(e) {
        e.preventDefault()
        const input_files = form.querySelector('input[type="file"][name="files"]')
        const files = [...input_files.files]

        input_files.value = ''
        input_files.classList.add('d-none')

        const data = {}
        data.session = form.querySelector('select[name="session"]').value
        data.sh = form.querySelector('input[name="sh"]').value
        data.yr = form.querySelector('select[name="yr"]').value
        data.gr = form.querySelector('select[name="gr"]').value

        // hide upload btn
        form.querySelector('button[value="upload"]').classList.add('d-none')
        form.querySelector('span.spinner-border').classList.remove('d-none')
        const done = form.querySelector('span#id_done')
        done.classList.remove('d-none')

        files.forEach(file => {
          que_todo.push({
            ...data,
            files: file,
            name: file.name,
            action: 'upload',
            ajax: 'true',
            csrfmiddlewaretoken: '{{ csrf_token }}',
          })
        })

        que_todo.forEach(i => que.push(i))

        upload(que_todo.pop())

        function upload(item) {
          if (item === undefined) {
            window.location.reload()
            window.location.href = window.location.href
            return
          }

          done.textContent = `${que.length - que_todo.length} / ${que.length}`

          const body = new FormData()

          Object.entries(item).forEach(([k, v]) => {
            if (v instanceof Array) {
              v.forEach(i=>body.append(k, i))
            } else {
              body.set(k, v)
            }
          })

          fetch('{{ request.path }}', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              //'Content-Type': 'multipart/form-data',
              'X-CSRFToken': '{{ csrf_token }}',
            },
            body,
            //signal: controller.signal,
          }).then(res => res.json()).then(res => {
            que_done.push(item)
          }).catch(err => {
            console.log('[err]\n', err)
          }).finally(() => {
            upload(que_todo.pop())
            //done.textContent = `${que_done.length} / ${que.length}`
          })
        }
      })

      document.querySelectorAll('#id_files').forEach(el => {
        el.addEventListener('change', ev => {
          document.querySelectorAll('#id_select_files_btn').forEach(btn => {
            btn.textContent = el.files.length
              ? `Выбрано файлов: ${el.files.length}`
              : 'Выбрать файлы'
          })
        })
      })
    });
  </script>
{% endblock js %}
