{% extends 'base.html' %}

{% load static mytags l10n %}

{% block title %}fZ - albums{% endblock title %}


{% block content %}

  <div class="container-fluid py-2 d-flex flex-wrap">

    {% getlist request.GET 'ses' as ses_list %}
    {% for ses in ses_list %}
      {% if ses %}
        <a href="{{ request.get_full_path|rem_q_param:'ses'|rem_q_value:ses }}"
          class="btn btn-sm btn-outline-primary rounded-4 me-2 my-1">
          <i class="bi bi-x-circle-fill"></i> Съемка: {{ses}}
        </a>
      {% endif %}
    {% endfor %}

    {% getlist request.GET 'sh' as sh_list %}
    {% for sh in sh_list %}
      {% if sh %}
        <a href="{{ request.get_full_path|rem_q_param:'sh'|rem_q_value:sh }}"
          class="btn btn-sm btn-outline-primary rounded-4 me-2 my-1">
          <i class="bi bi-x-circle-fill"></i> Школа: {{sh}}
        </a>
      {% endif %}
    {% endfor %}

    <button class="btn btn-sm btn-primary ms-auto my-1"
      id="id_modal_pricelists_toggle"
      data-bs-toggle="modal"
      data-bs-target="#id_modal_pricelists"
    >
      Прайсы
    </button>

    <button class="btn btn-sm btn-success ms-2 my-1"
      id="id_modal_upload_toggle"
      data-bs-toggle="modal"
      data-bs-target="#id_modal_upload"
    ></button>
  </div>

  <table class="table table-sm bg-white">
    <thead>
      <th class="ps-2 ps-lg=4">съемка</th>
      <th class="text-center">альбом</th>
      <th class="text-center">заказы</th>
      <th class="text-center pe-2 pe-lg-4">дейст.</th>
    </thead>

    <tbody id="album_items">

      {% for album in albums %}
        <tr data-album="{{album}}" class="align-middle {% if album.deleted %}text-decoration-line-through{% endif %}">

          {# SESSION #}
          <td class="ps-2 ps-lg-4">
            {{album.session}}
            {% if 'ses' not in request.GET or not request.GET.ses %}
              <a href="{{request.get_full_path|add_q_param:'ses'|add_q_value:album.session}}"
                title="Показать только эту съемку">
                <i class="bi bi-funnel"></i>
              </a>
            {% endif %}
          </td>

          {# ALBUM #}
          <td class="text-center">
            {% if 'sh' not in request.GET or not request.GET.sh %}
              <a href="{{request.get_full_path|add_q_param:'sh'|add_q_value:album.sh}}"
                title="Показать только эту школу">
                <i class="bi bi-funnel"></i>
              </a>
            {% endif %}

            <a href="{% url 'blanks' album.sign %}">{{album.name}}</a>
            <button class="btn btn-sm copylink" data-clipboard-text="{{request.scheme}}://{{request.get_host}}{% url 'signed_view' album.sign %}">
              {% comment %} <i class="bi bi-link-45deg"></i> {% endcomment %}
              <i class="bi bi-copy"></i>
            </button>

            {% comment %} <a href="{{request.scheme}}://{{request.get_host}}/money_table/{{album.signed_url}}" class="btn btn-sm"><i class="bi bi-table"></i></a> {% endcomment %}
            <a href="{{request.scheme}}://{{request.get_host}}/{{album.money_table_url}}">
              <i class="bi bi-table"></i>
            </a>

            {% if album.closed %}
              <a href="{% url 'excel_file' album.sign %}" title="Скачать таблицу заказов в Excel">
                <i class="bi bi-file-earmark-excel-fill"></i>
              </a>

              <a href="{% url 'orders_file' album.sign %}" title="Скачать заказы в json">
                <i class="bi bi-box-arrow-down"></i>
              </a>

              <strong class="text-secondary" title="ЗАКРЫТ"><i class="bi bi-lock-fill"></i></strong>
            {% endif %}
          </td>

          {# PROGRESS #}
          <td class="text-center">
            <span class="item_count {% if album.closed %}text-muted{% endif %}">{{album.ordered_count}} / {{album.blanks_count}}</span>
            <div class="progress rounded-pill" style="height:10px;">
              <div class="progress-bar item_progress rounded-end {% if album.closed %}bg-opacity-50{% endif %} {% if album.order_progress < 50 %}bg-warning{% elif album.order_progress < 100 %}bg-success{% else %}bg-primary{% endif %}" style="width: {{album.order_progress|unlocalize}}%;"></div>
            </div>
            {% if album.last_order_time and 'last_time' in request.GET %}
              <small title="Последний заказ" class="text-black-50">{{album.last_order_time|date:'Y-b-d'}}</small>
            {% endif %}
          </td>

          {# ACTIONS #}
          <td class="text-center pe-2 pe-lg-4">
            <form action="{{request.get_full_path}}" method="post" class="action_form d-inline-block">
              {% csrf_token %}
              <input type="hidden" name="album_sign" value="{{album.sign}}"/>

              {% if edit %}
                {% if album.deleted %}
                  <button class="btn btn-outline-success btn-sm" type="submit" name="action" value="undelete" title="Восстановить">
                    <i class="bi bi-recycle"></i>
                  </button>
                {% else %}
                  <button class="btn btn-sm btn-outline-danger" type="submit" name='action' value="delete" title="Удалить">
                    <i class="bi bi-trash-fill"></i>
                  </button>
                {% endif %}
              {% endif %}

              {% if album.closed %}
                <button class="btn btn-sm btn-outline-success" type="submit" name="action" value="unclose" title="Открыть">
                  <i class="bi bi-unlock-fill"></i>
                </button>
              {% else %}
                <button class="btn btn-sm btn-outline-danger" type="submit" name="action" value="close" title="Закрыть">
                  <i class="bi bi-lock-fill"></i>
                </button>
              {% endif %}
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}


{% block js %}
  <script src="{% static 'js/clipboard.min.js' %}"></script>
  <script>;document.addEventListener('DOMContentLoaded', () => {new ClipboardJS('.copylink')});</script>
  <script src="/static/js/vue3513.global.min.js"></script>
  <span id="id_mount"></span>

  <div class="modal fade" tabindex="-1" id="id_modal_upload">
    <div class="modal-dialog modal-xl">
      <div class="modal-content shadow"></div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="id_modal_pricelists">
    <div class="modal-dialog modal-fullscreen-lg-down modal-xl">
      <div class="modal-content shadow"></div>
    </div>
  </div>

  <template id="id_vue_app">
    <Teleport to="#id_modal_upload_toggle">
      <template v-if='state==="uploading"'>
        Загрузка бланков:
        <span class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Загрузка...</span>
        </span>
        [[ que.length - todo.length ]] / [[ que.length ]]
      </template>
      <span v-else>
        Загрузить бланки<span v-if='que.length'> ([[ que.length ]])</span>
      </span>
    </Teleport>

    <Teleport to="#id_modal_upload .modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Загрузить бланки</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="mb-1">
          <strong class="me-1">Съемка</strong>
          {% for x,y in form.fields.session.choices %}
            <input type="radio" class="btn-check" name="ses" value='{{x}}' v-model='ses' id="id_ses_{{x}}" autocomplete="off">
            <label class="btn" for="id_ses_{{x}}">{{y}}</label>
          {% endfor %}
        </div>

        <div class="mb-1">
          <strong class="me-1">Школа</strong>
          {% for x,y in form.fields.sh.choices %}
            <input type="radio" class="btn-check" name="sh" value='{{x}}' v-model='sh' id="id_sh_{{x}}" autocomplete="off">
            <label class="btn" for="id_sh_{{x}}">{{y}}</label>
          {% endfor %}
        </div>

        <div class="mb-1">
          <strong class="me-1">Год</strong>
          {% for x,y in form.fields.yr.choices %}
            <input type="radio" class="btn-check" name="yr" value='{{x}}' v-model='yr' id="id_yr_{{x}}" autocomplete="off">
            <label class="btn" for="id_yr_{{x}}">{{y}}</label>
          {% endfor %}
        </div>

        <div class="mb-1">
          <strong class="me-1">Класс</strong>
          {% for x,y in form.fields.gr.choices %}
            <input type="radio" class="btn-check" name="gr" value='{{x}}' v-model='gr' id="id_gr_{{x}}" autocomplete="off">
            <label class="btn" for="id_gr_{{x}}">{{y}}</label>
          {% endfor %}
        </div>

        <div class="mb-1">
          <strong class="me-1">Файлы</strong>
          <template v-if='state==="uploading"'>
            <span class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Загрузка...</span>
            </span>
            [[ que.length - todo.length ]] /
          </template>
          [[ que.length ]]

          <div v-for='item in sorted' :key='item.key' class="d-flex mb-1 border-bottom">
            <button v-if='item.status==="todo"' @click='removeItem(item)' class="btn btn-sm text-danger p-0 px-1 me-1">
              <i class="bi bi-x-lg"></i>
            </button>
            <span v-else-if='item.status==="done"' class="p-0 px-1 me-1 btn btn-sm text-success">
              <i class="bi bi-check-lg"></i>
            </span>
            <span v-else-if='item.status==="fail"' class="p-0 px-1 me-1 btn btn-sm text-warning" :title='item.err_msg||"не удалось загрузить файл"'>
              <i class="bi bi-exclamation-triangle-fill"></i>
            </span>
            <span v-else-if='item.status==="uploading"' class="btn btn-sm text-primary p-0 px-1 me-1">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Загрузка...</span>
              </div>
            </span>
            <span class="me-1" title="Съемка">[[ item.session ]]</span>
            <span class="me-1" title="Школа и класс">[[ item.sh ]]_[[ item.yr ]][[ item.gr ]]</span>
            <span class="ms-auto text-truncate" :title='item.name'>[[ item.name ]]</span>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button v-if='state==="standby"' @click='clear' type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">Отмена</button>

        <label>
          <span id="id_select_files_btn" class="btn btn-success" :class='{"disabled": fileSelectDisabled}'>
            <i class="bi bi-plus-lg"></i> Добавить файлы
          </span>
          <input @change='filesSelected' :disabled='fileSelectDisabled' class="d-none" type="file" accept="image/jpeg" multiple>
        </label>

        <button v-if='state==="standby"'
          @click='startUploading'
          :disabled='!canUpload'
          type="button"
          class="btn btn-primary"
        >Загрузить</button>
        <span v-else-if='state==="uploading"'>
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Загрузка...</span>
          </div>
          [[ que.length - todo.length ]] / [[ que.length ]]
        </span>
      </div>
    </Teleport>

    {# PRICELISTS #}
    <Teleport to="#id_modal_pricelists .modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Прайслисты</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <button v-for='pl in pricelists' :key='pl.id' @click='loadPricelist(pl)' :title='`${pl.name} (${pl.id})`' class="btn btn-sm me-1" :class='loadedPrice==pl ? "btn-primary" : "btn-outline-primary"'>
          <span>[[ pl.name ]]</span>
        </button>

        <div class="input-group input-group-sm d-inline-flex w-auto">
          <input type="text" class="form-control" placeholder="добавить прайс" ref="new_price_name">
          <button @click='addPrice' class="btn btn-outline-success"><i class="bi bi-plus-lg"></i></button>
        </div>

        <table v-if='loadedPrice' class="table">
          <thead>
            <tr>
              <th :colspan='1 + themes.length' class="text-end border-0">
                <div class="input-group input-group-sm d-inline-flex w-auto">
                  <input ref='themeName_input' type="text" @keydown.enter='addTheme({ru:$refs.themeName_input.value});$refs.themeName_input.value=""' placeholder='тема' class="form-control">
                  <button @click='addTheme({ru:$refs.themeName_input.value});$refs.themeName_input.value=""' class="btn btn-outline-success">+ тема</button>
                </div>
              </th>
            </tr>

            <tr>
              <th>
                <span>
                  Формат
                </span>
              </th>

              <th v-for='theme in themes' :key='theme.key' class="text-center">
                <button @click='remTheme(theme)' class="btn btn-sm text-danger px-1 py-0"><i class="bi bi-x-lg"></i></button>
                [[ theme.ru ]]
              </th>
            </tr>
          </thead>

          <tbody>
            <tr v-for='format in formats' :key='format.key'>
              <td>
                <div class="">
                  <button @click='remFormat(format)' class="btn btn-sm text-danger px-1 py-0"><i class="bi bi-x-lg"></i></button>
                  [[ format.ru ]]
                  <span class="text-secondary">([[ format.price ]])</span>
                </div>
              </td>

              <td v-for='theme in themes' :key='theme.key' class="text-center">
                <button v-if='theme.formats.includes(format.key)' @click='remThemeFormat(theme, format.key)' class="text-success btn btn-sm">
                  <strong>да</strong>
                </button>
                <button v-else @click='addThemeFormat(theme, format.key)' class="btn btn-sm text-secondary">
                  нет
                </button>
              </td>
            </tr>

            <tr>
              <td :colspan='1 + themes.length' class="border-0">

                <div class="input-group input-group-sm d-inline-flex w-auto">
                  <input ref='formatName_input' type="text" @keydown.enter='$refs.formatValue_input.focus()' placeholder='формат' class="form-control">

                  <input ref='formatValue_input' type="text" @keydown.enter='addFormat({ru:$refs.formatName_input.value, price:$refs.formatValue_input.value});$refs.formatName_input.focus();$refs.formatValue_input.value="";$refs.formatName_input.value=""' placeholder='цена' class="form-control">

                  <button @click='addFormat({ru:$refs.formatName_input.value, price:$refs.formatValue_input.value});$refs.formatValue_input.value="";$refs.formatName_input.value=""' class="btn btn-outline-success">+ формат</button>
                </div>

              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">Закрыть</button>

        <button v-if='dirty' type="button" class="btn btn-success">Сохранить</button>
      </div>
    </Teleport>
  </template>

  <script>
    const app = Vue.createApp({
      template: '#id_vue_app',
      setup(){
        // upload que
        const que = Vue.reactive([])
        const ses = Vue.ref('')
        const sh = Vue.ref('')
        const yr = Vue.ref('')
        const gr = Vue.ref('')
        const state = Vue.ref("standby")

        const fileSelectDisabled = Vue.computed(() => !(ses.value && sh.value && yr.value && gr.value))
        const todo = Vue.computed(() => que.filter(i=>i.status==='todo'))
        const done = Vue.computed(() => que.filter(i=>i.status==='done'))
        const sorted = Vue.computed(() => que.toSorted((a,b) => a.key > b.key || -1 ))
        const canUpload = Vue.computed(() => state.value === 'standby' && todo.value.length)

        const addItem = file => {
          const key = `${ses.value}#${sh.value}#${yr.value}#${gr.value}#${file.name}`
          const item = que.find(i => i.key === key)
          if (item) {
            item.file = file
          } else {
            que.push({
              key,
              session: ses.value,
              sh: sh.value,
              yr: yr.value,
              gr: gr.value,
              file,
              name: file.name,
              action: 'upload',
              ajax: 'true',
              csrfmiddlewaretoken: '{{ csrf_token }}',
              status: 'todo',
            })
          }
        }

        const upload = () => {
          if (!todo.value.length) {
            state.value = 'standby'
            return
          }

          const item = todo.value[0]
          item.status = 'uploading'
          const body = new FormData()
          Object.entries(item).forEach(([k, v]) => {
            body.set(k, v)
          })

          fetch('.', {
            method: 'POST',
            headers: {
              //'Accept': 'application/json',
              //'Content-Type': 'multipart/form-data',
              'X-CSRFToken': '{{ csrf_token }}',
            },
            body,
            //signal: controller.signal,
          }).then(res => res.json()).then(res => {
            //que_done.push(item)
            if (res.status === 'OK') {
              item.status = 'done'
            } else {
              item.status = 'fail'
              item.err_msg = res.err_msg
            }
          }).catch(err => {
            console.log('[err]\n', err)
            item.status = 'fail'
            item.err_msg = `${err}`
          }).finally(() => {
            upload()
          })
        }


        // pricelist
        //const pricelists = Vue.ref([{% for pl in prices %}[{{pl.id}}, '{{pl.name}}'],{% endfor %}])
        const pricelists = Vue.reactive([
          {
            id: 0,
            name: 'Vipusk 2025',
            loaded: true,
            dirty: false,
            formats: [
              {ru:'Фото 10х15', key: 'f10',  price:100},
              {ru:'Фото 15х23', key: 'f15',  price:150},
              {ru:'Фотокнига',  key: 'book', price:1500},
            ],
            themes: [
              {ru:'Портрет', key: 'port', formats:['f10', 'f15']},
              {ru:'Винт',    key: 'vint', formats:['f10', 'f15', 'book']},
            ],
          },
          {% for pl in prices %}
            {
              id: {{pl.id}},
              name: '{{pl.name}}',
            },
          {% endfor %}
        ])

        const loadedPrice = Vue.ref(null)

        const dirty = Vue.computed(() => {
          console.log('dirty')
          if (!loadedPrice.value) {return false}
          if (loadedPrice.value.themes.length != themes.length) {return true}
          if (loadedPrice.value.formats.length != formats.length) {return true}
          for (let fmt in formats.value) {
            console.log(`[dirty?] ${fmt}`)
          }
        })

        const loadPricelist = (pl) => {
          // pl :: {id, name, loaded:bool, [...]}
          if (!pl.loaded || !('themes' in pl)) {
            fetch('.?pricelist='+pl.id).then(x => x.json()).then(data => {
              if (data.status === 'OK') {
                Object.assign(pl, data.pricelist)
                pl.loaded = true
                pl.dirty = false
                loadPricelistPreset(pl)
              }
            })
          } else {
            loadPricelistPreset(pl)
          }
        }

        const formats = Vue.reactive([]) // :: [{ru:str, price:int, key:str}]
        const themes = Vue.reactive([]) // :: [{ru:str, formats:[str], key:str}]

        const addFormat = (format) => {
          // format :: {ru, key, price}
          format.key = format.key || format.ru
          formats.push(format)
          themes.forEach(theme => theme.formats.push(format.key))
        }

        const remFormat = format => {
          themes.forEach(theme => {
            const index = theme.formats.findIndex(f => f === format.key)
            if (~index) {
              theme.formats.splice(index, 1)
            }
          })
          formats.splice(formats.findIndex(f => f == format), 1)
        }

        const addTheme = (theme) => {
          // theme :: {ru, key, formats}
          theme.key = theme.key || theme.ru
          themes.push({ru:theme.ru, key:theme.key, formats:theme.formats || formats.map(f=>f.key)})
        }

        const remTheme = theme => {
          themes.splice(themes.findIndex(th => th == theme), 1)
        }

        const addThemeFormat = (theme, formatKey) => {
          theme.formats.push(formatKey)
        }

        const remThemeFormat = (theme, formatKey) => {
          theme.formats.splice(theme.formats.findIndex(f => f === formatKey), 1)
        }

        const loadPricelistPreset = (pl) => {
          themes.splice(0)
          formats.splice(0)
          pl.formats.forEach(addFormat)
          pl.themes.forEach(addTheme)
          loadedPrice.value = pl
        }

        const new_price_name = Vue.useTemplateRef('new_price_name')
        let new_price_counter = 0

        const addPrice = () => {
          console.log('[new_price_name]', new_price_name.value)
          //const name = this.$refs.new_price_name.value.trim()
          const name = new_price_name.value.value.trim()
          if (!name.length) {return}
          const exists = pricelists.find(pl => pl.name === name)
          if (exists) {return}
          //this.$refs.new_price_name.value = ''
          new_price_name.value.value = ''
          const new_id = `new_${new_price_counter++}`
          pricelists.push({
            id: new_id,
            name,
            dirty: false,
            loaded: true,
            themes: [],
            formats: [],
          })
          const price = pricelists.find(pl => pl.id === new_id)
          loadPricelistPreset(price)
        }

        return {
          // upload que
          sorted,
          que, ses, sh, yr, gr,
          todo, state,
          fileSelectDisabled, canUpload,
          removeItem(item) {que.splice(que.findIndex(i=>i===item), 1)},
          filesSelected(e) {
            [...e.target.files].forEach(addItem)
            e.target.value = ''
          },
          startUploading() {
            state.value = 'uploading'
            upload()
          },
          clear() {que.splice(0)},

          // pricelist
          formats, addFormat, remFormat,
          themes, addTheme, remTheme,
          addThemeFormat, remThemeFormat,
          loadPricelistPreset,
          pricelists, loadPricelist,
          addPrice, loadedPrice, new_price_name,
          dirty,
        }
      }
    })
    app.config.compilerOptions.delimiters = ['[[', ']]']
    const vm = app.mount('#id_mount')
  </script>
{% endblock js %}
