{% extends "base2.html" %}

{% load mytags %}

{% block title %}fZ - Money Table{% endblock title %}

{% block topbar_content %}
  <h2 class="m-0">Таблица {{album.name}} ({{album.session}}) [{{album.ordered_count}}/{{album.blanks_count}}]</h2>
{% endblock topbar_content %}

{% block container %}
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr class="text-center">
            <th></th>
            <th></th>
            <th>Сумма</th>

            {% for item, col in album.get_money_table.cols.items %}
              <th>{{col.title}}</th>
            {% endfor %}

          </tr>
        </thead>

        <tbody>

          <tr class="text-center">
            <th>№</th>
            <th>Бланк</th>
            <th>{{album.get_money_table.total}}₽</th>

            {% for item, col in album.get_money_table.cols.items %}
              <th>{{col.q}}</th>
            {% endfor %}
          </tr>

          {% for img, row in album.get_money_table.rows.items %}
            <tr class="text-center">
              <td>{{forloop.counter}}</td>
              <td>{{img}}</td>
              <td>{{row.total}}₽</td>
              {% for item in album.get_money_table.cols %}
                <td>{{row|lookup:item}}</td>
              {% endfor %}
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

  <div class="d-none">
    <h6>cols</h6>
    <code>{{album.get_money_table.cols}}</code>

    <h6>rows</h6>
    <code>{{album.get_money_table.rows}}</code>
  </div>

{% endblock container %}