{% extends 'base.html' %}

{% load mytags %}

{% block content %}
  <div class="position-sticky top-0 shadow bg-white">
    <h2 class="d-flex align-items-center justify-content-center">
      Школа {{sh}}, класс {{year}}{{group}}
      <a href="{% url 'download_orders' sh_cls code %}" class="btn btn-sm btn-outline-success ms-2"><i class="bi bi-file-earmark-arrow-down-fill"></i></a>
    </h2>
  </div>

  <div class="container">
    <!--{{names}}-->

    <table class='table table-sm table-bordered'>
      <thead>
        <th>№</th>
        <th>Имя</th>
        {% for nm,ru in names %}
          <th class="text-center">{{ru}}</th>
        {% endfor %}
        <th class="text-center">Сумма</th>
      </thead>
      <tbody>
        {% for file in table %}
          <tr>
            <td>
              {% if file.uuid %}
                <a href="{% url 'zakaz' sh cls file.uuid %}">{{file|dict_get:'img'}}</a>
              {% else %}
                {{file|dict_get:'img'}}
              {% endif %}
            </td>
            <td>{{file|dict_get:'name'}}</td>
            {% for nm,ru in names %}
              <td class="text-center">{{file|dict_get:nm|default_if_none:'-'}}</td>
            {% endfor %}
            <td class="text-center">{{file|dict_get:'sum'}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

{% endblock content %}
