{% extends 'base.html' %}

{% load mytags %}

{% block title %}fZ - {{album.name}} {{album.get_img}}{% endblock title %}

{% block js %}
  <script>
    const sum = list => list.reduce((a, b) => a + b, 0)
    function map(fn,list){
      if (list===void 0) return function(list){return map(fn, list)}
      var l = list.length
      if (l===0) return []
      var res = Array(l)
      for (var i=0;i<l;i++)
        res[i] = fn(list[i], i, list)
      return res
    }
    const compose = f => g => a => f(g(a))
    const pipe = (...args) => fold(_pipe, args[0], tail(args))
    const pipe2 = f => g => a => g(f(a))
    const _pipe = (f,g) => (...args) => g.call(null, f.apply(null, args))
    function fold(fn, acc, list){
      if (list===void 0)
        return list => fold(fn, acc, list)
      for (var i = 0, l = list.length; i<l; i++)
        acc = fn(acc, list[i], i, list)
      return acc
    }
    const tail = list => drop(1, list)
    function drop(n,list){
      if (list===void 0)
        return list => drop(n, list)
      if (Array.isArray(list))
        return list.slice(n)
      if (isArrayLike(list)){
        var res = [], i = n<0?list.length-n:n, l = list.length
        while (i<l) res.push(list[i++])
        return res
      }
    }
    function isArrayLike(a){return a!=null&&typeof(a)=="object"&&a.length>=0}
    const product = ([a,b]) => a * b
    const apply = a => f => f(a)
    const flip = f => b => a => f(a,b)


    ;document.addEventListener('DOMContentLoaded', () => {

      const inputs = document.querySelectorAll('input[type=number][data-price]')
      const totals = document.querySelectorAll('.total_sum')
      const subm_btn = document.querySelector('button#submit_btn')
      const cancel_btns = document.querySelectorAll('button[value="cancel_order"]')
      const order_form = document.querySelector('form#order_form')
      const form_subm = document.querySelector('button#form_subm_btn')
      const eport0 = document.querySelectorAll('.eport0')
      const eport1 = document.querySelectorAll('.eport1')

      const btns_plus = document.querySelectorAll('button[data-plus]')
      const btns_minus = document.querySelectorAll('button[data-minus]')

      //function calc() {
      //  return Array.from(inputs).reduce((m,i)=>
      //    m + parseInt(i.value || 0) * parseFloat(i.dataset.price)
      //  ,0)
      //}

      // f : a -> b
      // map : (a->b) -> [a] -> [b]
      // flip : (a->b->c) -> b -> a -> c
      // flip(map) : [a] -> (a->b) -> [b]
      // apply : a -> f -> b

      // ? : [f] -> a -> [b]
      // pipe(apply, flip(map)([f, f]))
      // flip(map) ([f, f]) (apply(a))
      // ? : [a -> b] -> a -> [b]
      // const f = ff => pipe(apply, flip(map)(ff))
      // compose : (b -> c) -> (a -> b) -> a -> c
      // pipe(flip(map), compose(apply))
      // ? : (a->b) -> (b->c) -> a -> c
      // : [a->b] -> a -> [b]
      const applyFuncs = pipe(flip(map), pipe2(apply))

      const calc = () => {
        return pipe(
          Array.from,
          /// 1
          // map(i => parseInt(i.value||0) * parseFloat(i.dataset.price)),
          /// 2
          //map(pipe(
          //  apply,
          //  flip(map)([i=>parseInt(i.value||0), i=>parseFloat(i.dataset.price)]),
          //  product,
          //)),
          /// 3
          map(pipe(
            applyFuncs([i=>parseInt(i.value||0), i=>parseFloat(i.dataset.price)]),
            product,
          )),
          sum,
        )(inputs)
      }

      function calcSum(e) {
        const sum = calc()
        totals.forEach(i=>i.textContent=sum)
        if (sum >= {{album.get_pricelist.get_empty_copy.bonus.sum}}) {
          eport0.forEach(i=>i.classList.add('d-none'))
          eport1.forEach(i=>i.classList.remove('d-none'))
        } else {
          eport0.forEach(i=>i.classList.remove('d-none'))
          eport1.forEach(i=>i.classList.add('d-none'))
        }
        return sum
      }

      inputs.forEach(input=>input.addEventListener('change', calcSum))

      function plus_click(e) {
        e.preventDefault()
        {% if not album.is_closed %}
        const name = e.target.dataset.name
        const input = document.querySelector(`input[type=number][name="${name}"]`)
        input.value = (Number(input.value)||0)+1
        const span = document.querySelector(`span[data-name="${name}"]`)
        if (span) {span.textContent = input.value}
        calcSum(e)
        {% endif %}
      }

      function minus_click(e) {
        e.preventDefault()
        {% if not album.is_closed %}
        const name = e.target.dataset.name
        const input = document.querySelector(`input[type=number][name="${name}"]`)
        input.value = Math.max((Number(input.value)||0)-1, 0)
        const span = document.querySelector(`span[data-name="${name}"]`)
        if (span) {span.textContent = input.value}
        calcSum(e)
        {% endif %}
      }

      btns_plus.forEach(btn=>btn.addEventListener('click', plus_click))
      btns_minus.forEach(btn=>btn.addEventListener('click', minus_click))

      //if (calcSum()) {
      //  cancel_btns.forEach(el => el.classList.remove('d-none'))
      //}
      calcSum()

      const inputs_arr = Array.from(inputs)

      order_form.addEventListener('submit', (e) => {
        const sum = calc()
        if (sum <= 0) {
          e.preventDefault()
          alert('Ничего не заказано')
        } else if (inputs_arr.filter(i=>i.name.endsWith('_tshirt') && i.value != '0').length && !inputs_arr.filter(i=>i.name.endsWith('_tsize') && i.value != '0').length) {
          e.preventDefault()
          const index = inputs_arr.findIndex(i=>i.name.endsWith('_tshirt') && i.value != '0')
          const input = inputs_arr.slice(index).find(i=>i.name.endsWith('_tsize'))
          alert('Заказывая футболку - укажите размер!')
          setTimeout(()=>{
            input.scrollIntoView()
            input.focus()
          }, 0)
        }
      })

      const errorlist = document.querySelector('ul.errorlist')
      if (errorlist) {errorlist.scrollIntoView()}

    });
  </script>
{% endblock js %}

{% block content %}
  {% with empty_copy=album.get_pricelist.get_empty_copy %}
  <div class="position-sticky top-0 z-3 shadow bg-white">
    <nav class="navbar pb-0">
      <div class="container-fluid justify-content-center pb-2 border-bottom">
        <h5 class="mb-0 me-2">{% if album.is_closed %}<strong class="text-danger-emphasis">ПРИЕМ ЗАКАЗОВ ЗАКРЫТ</strong>{% else %}Заказ фотопродукции{% endif %}</h5>
        <span class="flex-grow-1"></span>
        <span class="d-flex align-items-center">
          <strong class="total_sum me-1">0</strong>
          <strong class="text-secondary me-2">руб</strong>
          {% if not album.is_closed %}
            <button id="submit_btn" name="action" value="save" form="order_form" class="btn btn-outline-success">
              Сохранить заказ
            </button>
            {% if album.is_ordered %}
              <button class="btn btn-outline-danger ms-2" name="action" value="cancel_order" form="order_form">
                Отменить
              </button>
            {% endif %}
          {% endif %}
        </span>
      </div>

      <div class="d-none d-md-block w-100">
        <div class="eport0 container-fluid justify-content-center text-center bg-primary text-white py-2 d-none">
          {{album.get_pricelist.get_empty_copy.bonus.text}}
        </div>

        <div class="eport1 container-fluid justify-content-center text-center bg-success text-white py-2 d-none">
          {{album.get_pricelist.get_empty_copy.bonus.success}}
        </div>
      </div>
    </nav>
  </div>

  <div class="d-block d-md-none w-100">
    <div class="eport0 container-fluid justify-content-center text-center bg-primary text-light py-2 d-none">
      {{album.get_pricelist.get_empty_copy.bonus.text}}
    </div>

    <div class="eport1 container-fluid justify-content-center text-center bg-success text-light py-2 d-none">
      {{album.get_pricelist.get_empty_copy.bonus.success}}
    </div>
  </div>

  <div class="container-fluid py-4">
    <form action="." method="post" id="order_form" class="">
      {% csrf_token %}

      <div class="row">
        {% for theme_k, theme in empty_copy.themes.items %}
          <div class="col-12 col-md-6 col-xl-4 col-xxl-3 mb-4">
            <div class="card shadow">

              {% if "style" in theme or "blank_img_style" in theme %}
                <div class="card-img-top"
                style="background-image:url('{{album.get_blank_url}}');{% if theme.blank_img_style %}{{theme.blank_img_style}}{% else %}{{theme.style}}{% endif %}">
                </div>
              {% endif %}

              <div class="card-body">
                <h5 class="card-title"><strong>{{theme.ru}}</strong></h5>
                {% for format_k in theme.formats %}
                {% with order_k=theme_k|add:'_'|add:format_k order=album.get_order_or_post_data format=empty_copy.formats|lookup:format_k %}
                  <div class="row border-top">
                    <div class="col-4 d-flex align-items-center">{{format.ru}}</div>
                    <div class="col-4 d-flex align-items-center justify-content-center">
                      {% if format_k == 'tsize' %}
                        <span class="text-secondary">см</span>
                      {% else %}
                        {{format.price}} <span class="text-secondary ms-1">руб</span>
                      {% endif %}
                    </div>
                    <div class="col-4 d-flex align-items-center">

                      <div class="input-group input-group-sm flex-nowrap">
                        {% if format_k == 'tsize' %}
                        {% else %}
                          <button
                            class="btn btn-sm btn-outline-primary"
                            data-name="{{theme_k}}_{{format_k}}"
                            data-minus="1">
                            <i class="bi bi-dash-lg" data-name="{{theme_k}}_{{format_k}}"></i>
                          </button>
                        {% endif %}

                        {% if format_k == 'tsize' %}
                          <input
                            name="{{theme_k}}_{{format_k}}"
                            type="number"
                            min="0"
                            class="w-100 text-center form-control"
                            value="{{order|lookup:order_k|default:'0'}}"
                            data-price="{{format.price}}">
                        {% else %}
                          <input
                            name="{{theme_k}}_{{format_k}}"
                            type="number"
                            min="0"
                            class="w-100 text-center form-control d-none"
                            value="{{order|lookup:order_k|default:'0'}}"
                            data-price="{{format.price}}">

                          <span class="input-group-text fw-bold" data-name="{{theme_k}}_{{format_k}}">
                            {{order|lookup:order_k|default:'0'}}
                          </span>
                        {% endif %}

                        {% if format_k == 'tsize' %}
                        {% else %}
                          <button class="btn btn-sm btn-outline-primary" data-name="{{theme_k}}_{{format_k}}" data-plus="1"><i class="bi bi-plus-lg" data-name="{{theme_k}}_{{format_k}}"></i></button>
                        {% endif %}
                      </div>

                    </div>
                  </div>
                {% endwith %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="row justify-content-center mb-3">
        {% for field in contacts %}
          <div class="mb-2 col-12 col-md-4 col-xl-3{% if field.errors %} error{% endif %}">
            {{field}}
            {{field.errors}}
          </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="">
            <strong class="total_sum">0</strong>
            <strong class="text-secondary me-2">руб</strong>
          </div>
          {% if not album.is_closed %}
            <button id="form_subm_btn" name="action" value="save" class="btn btn-outline-success">
              Сохранить заказ
            </button>
            {% if album.is_ordered %}
              <button class="btn btn-outline-danger ms-2" name="action" value="cancel_order" form="order_form">
                Отменить
              </button>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </form>
  </div>

  <div class="d-block d-md-none w-100">
    <div class="eport0 container-fluid justify-content-center text-center bg-primary text-light py-2 d-none">
      {{album.get_pricelist.get_empty_copy.bonus.text}}
    </div>

    <div class="eport1 container-fluid justify-content-center text-center bg-success text-light py-2 d-none">
      {{album.get_pricelist.get_empty_copy.bonus.success}}
    </div>
  </div>
  {% endwith %}

{% endblock content %}

{% block css %}
  <style>
    .error > input.form-control {
      --bs-border-opacity: 1;
      border-color: rgba(var(--bs-danger-rgb),var(--bs-border-opacity))!important;
    }

    .error > ul.errorlist > li {
      --bs-text-opacity: 1;
      color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;
    }

    body {
      background-color: #f9f9f9;
    }
    .load_files {
      text-align: center;
      display: block;
      border: 2px solid lightgray;
      border-radius: 8px;
      padding: 20px;
    }
    .load_files input[type=file] {
      display: none;
    }
    .card_shadow {
      filter:drop-shadow(0 0 15px rgba(0, 0, 0, 0.1));
      transition: filter .45s cubic-bezier(.23,1,.32,1) 0ms;
    }
    .card_shadow:hover {
      filter:drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
    }
    .card_shadow:hover .card_text {
      text-shadow: 0 0 3px black;
    }
    #UPQUE .progress {
      height:2px;
    }

    .cropper {background-color:white;}
    .cropper .cropper-scale-handle {
      {% comment %} display: none; {% endcomment %}
    }
    .cropper:hover .cropper-scale-handle {
      {% comment %} display: block; {% endcomment %}
      background-color:var(--bs-blue);
    }
    .item_select {
      user-select: none;
      cursor:pointer;
    }
    .item_select:hover {
      background-color:var(--bs-border-color);
    }
  </style>
{% endblock css %}
