<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play</title>
  {% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap53a.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    <style>
      .w-6ch {width:6ch;}
      .w-7ch {width:7ch;}
      .w-9ch {width:9ch;}
      .w-11ch {width:11ch;}
    </style>
  {% endblock css %}
</head>
<body>
  {% block body %}{% endblock body %}
  {% block js %}
    <script src="/static/js/bootstrap53a.bundle.min.js"></script>
  {% endblock js %}
</body>
</html>
