{% extends 'play/base.html' %}

{% block body %}
  <div class="d-flex">
    <div id="vue-app"
      style="width:180px;min-width:180px;"
    ></div>

    <div id="canvas"
      class="user-select-none position-relative w-100 border"
      style="height:calc(100vh - 100px);font-size:0;"
    ></div>
  </div>

  <div id="bottom_panel"></div>
{% endblock body %}

{% block js %}
  {{ block.super }}
  <script src="/static/js/pixi866.min.js"></script>
  <script src="/static/js/pixi866.advanced-blend-modes.min.js"></script>
  <script src="/static/js/pixi866.math-extras.min.js"></script>
  <script src="/static/js/vue3513.global.min.js"></script>
  <script src="/static/keyboard.js"></script>

  {% include "play/scripts/utils.html" %}
  {% include "play/scripts/pixi.html" %}
  {% include "play/scripts/vue.html" %}
  {% include "play/scripts/drop.html" %}

{% endblock js %}
