{% extends 'base.html' %}

{% block title %}{{ album }} - Таблица{% endblock title %}

{% load static %}

{% block js %}
    <script>
        ;(function(){
            function onBlankUpdateChange(e) {
                const input = e.target
                if (input.files.length) {
                    input.form.submit()
                }
            }

            document.querySelectorAll('input[type="file"][name="blank"]').forEach(i => {
                i.addEventListener('change', onBlankUpdateChange)
            })

            document.querySelector('input[type="file"][form="id_form_load_csv"]').addEventListener('change', onBlankUpdateChange)
        })();
    </script>
{% endblock js %}

{% block content %}
    <div class="container-fluid py-2">
        <div class="row mb-4 mt-3">
            <div class="col-12">
                <form action="." enctype="multipart/form-data" method="post" class="d-none" id="id_form_load_csv">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="load_csv">
                </form>
                <label>
                    <span class="btn btn-sm btn-light shadow-sm">Load Names (CSV)</span>
                    <input type="file" name="file" class="d-none" form="id_form_load_csv" accept=".csv, text/csv">
                </label>
            </div>
        </div>

        <div class="row">
            {% for blank in blanks %}
                {% include 'zakaz/part/table_card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
