{% extends 'base.html' %}

{% block title %}{{ album }} - Таблица{% endblock title %}

{% load static mytags %}

{% block js %}
    <script>
        ;(function(){
            const form = document.querySelector('form#id_form_load_csv')
            const input = document.querySelector('input[type="file"][form="id_form_load_csv"]')
            input.addEventListener('change', () => {
                if (input.files.length) {
                    form.submit()
                }
            })
        })();
    </script>
{% endblock js %}

{% block content %}
    <div class="container-fluid py-2">
        <div class="row mb-4 mt-3">
            <div class="col-12">
                <form action="." enctype="multipart/form-data" method="post" class="d-none" id="id_form_load_csv">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="load_csv">
                </form>
                <label>
                    <span class="btn btn-sm btn-light shadow-sm">Load CSV</span>
                    <input type="file" name="file" class="d-none" form="id_form_load_csv" accept=".csv, text/csv">
                </label>
            </div>
        </div>

        <div class="row">
            {% for blank in blanks %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card mb-2">
                        <div style="background-image:url('{{blank.img.url}}');aspect-ratio: 1; background-position: 5.3% 3.2%; background-size: 229%; transform: rotate(90deg); margin: -0.3% 0px; border-radius: .25rem;" class="card-img-top"></div>
                        <div class="card-body">
                            <h5 class="card-title">{{blank.imgname|slice:"-4:"}}</h5>
                            <h6>{{blank.name}}</h6>

                            {% for order in blank.orders %}
                                <hr>
                                <small class="text-black-50">{{order.date|default:"--"}}</small>
                                {% for i in order %}
                                    {% if '_' in i %}
                                        <div class="d-flex justify-content-between">
                                            <span>{{i}}</span>
                                            <span>{{order|lookup:i}}</span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                            {% if blank.order %}
                                <hr>
                                <small class="text-black-50">{{blank.ordered}}</small>
                                {% for i in blank.order %}
                                    {% if '_' in i %}
                                        <div class="d-flex justify-content-between">
                                            <span>{{i}}</span>
                                            <span>{{blank.order|lookup:i}}</span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
