{% extends 'base.html' %}

{% block title %}{{ album }} - Таблица{% endblock title %}

{% load static %}

{% block js %}
    <script>
        ;(function(){
            function onBlankUpdateChange(e) {
                const input = e.target
                if (input.files.length) {
                    input.form.submit()
                }
            }

            document.querySelectorAll('input[type="file"].submit_on_change').forEach(i => {
                i.addEventListener('change', onBlankUpdateChange)
            })
        })();
    </script>
{% endblock js %}

{% block content %}
    <div class="container-fluid py-2">
        <div class="row mb-4 mt-3">
            <div class="col-12 d-flex gap-2">
                <label>
                    <span class="btn btn-sm btn-light shadow-sm">Load Names (CSV)</span>
                    <input type="file" name="file" class="d-none submit_on_change" form="id_form_load_csv" accept=".csv, text/csv">
                </label>

                <label>
                    <span class="btn btn-sm btn-light shadow-sm">Write orders to CSV</span>
                    <input type="file" name="file" class="d-none submit_on_change" form="id_form_update_csv" accept=".csv, text/csv">
                </label>
            </div>
        </div>

        <div class="row">
            {% for blank in blanks %}
                {% include 'zakaz/part/table_card.html' %}
            {% endfor %}
        </div>
    </div>

    <form action="." enctype="multipart/form-data" method="post" class="d-none" id="id_form_load_csv">
        {% csrf_token %}
        <input type="hidden" name="action" value="load_csv">
    </form>

    <form action="." enctype="multipart/form-data" method="post" class="d-none" id="id_form_update_csv">
        {% csrf_token %}
        <input type="hidden" name="action" value="update_csv">
    </form>
{% endblock content %}
